form{
  display:grid;
  place-items: center;
  border:20px inset #4ecdc4;
  margin: 10px  0;
  width: 100;
  padding: 0; 
  
}

h1{
   place-items: center;
   display:grid;
}

#tipo_documento {
    width: 500px;
    height: 20px;
}

#numero_documento {
    width: 500px;
    height: 20px;
}

#contrasena {
    width: 500px;
    height: 20px;
  
}

#btnGuardar {
    width: 200px;
    height: 20px;
}


