form{
  display:grid;
  place-items: center;
  border:20px inset #4ecdc4;
  margin: 10px  0;
  width: 100;
  padding: 0; 
  
}

#producto{
width: 500px;
height: 20px;
}

#direccion{
width: 500px;
height: 20px;
}


#telefono{
width: 500px;
height: 20px;
}


button{
width: 200px;
height: 20px;

}


#nombre_usuario{
width: 500px;
height: 20px;
}


#cantidad{
width: 500px;
height: 20px;
}

#metodo_pago{
width: 500px;
height: 20px;
}


body{

    background-color:#f5ebea
}

h1{
    display:grid;
    place-items: center;
}