form{
  display:grid;
  place-items: center;
  border:20px inset #4ecdc4;
  margin: 10px  0;
  width: 100;
  padding: 0; 
  
}

#nombre_usuario{
width: 500px;
height: 20px;
}

#apellido_usuario{
width: 500px;
height: 20px;
}


#tipo_documento{
width: 500px;
height: 20px;
}

#numero_documento{
width: 500px;
height: 20px;
}

#telefono{
width: 500px;
height: 20px;
}

#correo_electronico{
width: 500px;
height: 20px;
}

#genero{
width: 500px;
height: 20px;
}

#cargo{
width: 500px;
height: 20px;

}
#fecha_nacimiento{
width: 500px;
height: 20px;
}

#contrasena{
width: 500px;
height: 20px;
}

button {
    width: 200px;
    height: 20px;
}

#contraseña{
background-color: aqua;

}

body{

    background-color:#f5ebea
}

h1{
    display:grid;
    place-items: center;
}